<html>
<head>
<title>
FAQit Web App Chat
</title>
<link rel="stylesheet" type="text/css" href="Style/style.css">
</head>
<body>
  <img src="style/wallpapersprint.png" style="width:500px;height:100px;">
<h1>FAQit Chat Client ({{CurrentUser}})</h1>
<hr>
<p>

{{q.student}}'s question for {{ q.lec }}
topic: {{q.topic}}

</p>

<div class="chatArea">
    {% for m in q.ML %}
        {% if message.name != q.student %}
                <div class="iMessage">
                <div class="messageMeta"> {{message.name}}</div>
                <hr>{{message.content}}<hr>
                <div class="messageMeta">{{message.time.month}}/{{message.time.day}}/{{message.time.year}}<br>
                {{message.time.hour}}:{{message.time.minute}}</div>
                </div>
        {% endif %}

        {% if message.name == q.student %}
                <div class="sMessage">
                <div class="messageMeta"> {{message.name}}</div>
                <hr>{{message.content}}<hr>
                <div class="messageMeta">{{message.getTime().month}}/{{message.getTime().day}}/{{message.getTime().year}}<br>
                {{message.getTime().hour}}:{{message.getTime().minute}}</div>
                </div>
        {% endif %}
    {% endfor %}
</div>

<p>
<form action="chat" method="post">
<textarea name="message" placeholder="Ask New Question">
</textarea><br>
<input type="submit" value="Send"/>
</form>

<form action="instructorcenter" method="get">
<input type="submit" value="Back"/>
</form>

<hr>
</p>

</body>
</html>
