<html>
<head>
<title>
FAQit Web App Chat
</title>
<link rel="stylesheet" type="text/css" href="Style/style.css">
</head>
<body>
  <img src="style/wallpapersprint.png" style="width:500px;height:100px;">
<h1>FAQit Chat Client ({{CurrentUser}})</h1>
<hr>
<p>

{{q.student}}'s question for {{ q.lec }}
topic: {{q.topic}}

</p>

<div class="chatArea">
    {% for m in q.ML %}
        {% if m.name != q.student %}
                <div class="iMessage">
                <div class="messageMeta"> {{m.name}}</div>
                <hr>{{m.content}}<hr>
                <div class="messageMeta">{{m.time.month}}/{{m.time.day}}/{{m.time.year}}<br>
                {{m.time.hour}}:{{m.time.minute}}</div>
                </div>
        {% endif %}

        {% if m.name == q.student %}
                <div class="sMessage">
                <div class="messageMeta"> {{m.name}}</div>
                <hr>{{m.content}}<hr>
                <div class="messageMeta">{{m.getTime().month}}/{{m.getTime().day}}/{{m.getTime().year}}<br>
                {{m.getTime().hour}}:{{m.getTime().minute}}</div>
                </div>
        {% endif %}
    {% endfor %}
</div>

<p>
<form action="/chat" method="post">
<input type="hidden" name="quest" value="{{q.key.urlsafe()}}">
<textarea name="message" placeholder="Ask New Question">
</textarea><br>
<input type="submit" value="Send"/>
</form>

<form action="instructorcenter" method="get">
<input type="submit" value="Back"/>
</form>

<hr>
</p>

</body>
</html>
