<!DOCTYPE html>
<html>    
<head>
<link rel="stylesheet" type="text/css" href="Style/style.css">
<title>FAQit Frequently Asked Questions</title>
</head>

<body>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
<h1>FAQit FAQ</h1>

{% for topic in topics %}
    <div class="qaSubsection">
    {{ topic.heading }}
      {% for qa in topic.QAs %}
      <div class="question">
        {{ qa.question }}
      </div>
      <div class="answer">
        {{ qa.answer}}
      </div>
      {% endfor %}
    </div>
    <br>
{% endfor %}

{% if CurrentUser.aType == "i" or CurrentUser.aType == "a" %}
<form action="/faq" method="post">
        Enter the heading for the FAQ item:<br>
  
        <input type="text" name="heading" required placeholder="Header"><br>

        Enter the question for the new FAQ item:<br>
        <textarea  name="question" required placeholder="Add new question"></textarea><br>

        Enter the answer for the new FAQ item:<br>
        <textarea name="answer" placeholder="Add new answer"></textarea><br>
        <input type="submit" required value="Submit FAQ">
</form>
{% endif %}
</body>
</html>
